/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   background-color: bisque;
 }

 header {
   font-family: Franklin Gothic Medium, 'Arial Bold', sans-serif;
 }

 footer {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   border: 5px solid;
   background-color: tomato;
   height: 40px;
 }

 form {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   margin: 0 5px;
   font-family: 'Courier New', Courier, monospace;
 }

 .nav {
   display: flex;
   justify-content: flex-end;
   align-content: center;
   border: 5px solid black;
   background-color: tomato;
 }

 .homepage-gif {
   display: flex;
   justify-content: center;
 }

 .nav-links {
   display: flex;
   flex-direction: row;
   align-items: stretch;
 }

 .nav-link {
   display: flex;
   align-items: center;
   padding: 8px 4px;
   font-family: 'Chela One', cursive;
 }

 #back {
   position: absolute;
   left: 20px;
   font-family: 'Chela One', cursive;
   font-size: large;
   font-weight: 800;
 }

 #right-nav-links {
   display: flex;
   font-size: x-large;
 }
